@import "variables";
@import "layout";
@import "reset";

html,
body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: $dark-1;
  color: $dark-7;
}

a {
  color: $orange;

  &:hover {
    color: $purple;
  }
}

#app {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
