@import "variables";
@import "layout";
@import "reset";

html,
body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: $dark-1;
  color: $dark-7;
}

a {
  color: $orange;

  &:hover {
    color: $purple;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $orange;
}

#app {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
