$dark-1: #171c28;
$dark-2: #1d2433;
$dark-3: #2f3b54;
$dark-4: #6679a4;
$dark-5: #8695b7;
$dark-6: #a2aabc;
$dark-7: #d7dce2;

$yellow: #ffcc66;
$teal: #5ccfe6;
$green: #bae67e;
$orange: #ffae57;
$gold: #ffd580;
$purple: #c3a6ff;
$red: #ef6b73;
